
<mat-toolbar>
    <div class="brand">
            
        <a href="/">
            <mat-icon class="logo">play_circle_outline</mat-icon>
            gameshop
        </a>
        
    </div>

    <div class="navbar-nav">
        <div>
            <button mat-icon-button class="nav-item" aria-label="About Us">
                <mat-icon>info</mat-icon>
            </button>
            

        </div>
        <div>
            <button mat-icon-button class="nav-item" aria-label="About Us">
                <a href="/login">
                    <mat-icon>login</mat-icon>
                </a>
                
            </button>
            
        </div>
        
    </div>
    

</mat-toolbar>

  