.mat-toolbar{
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(110, 12, 156);
    background: linear-gradient(350deg, rgb(118, 10, 145) 0%, rgb(177, 36, 212) 90%, rgb(183, 0, 255) 100%);
    filter: opacity(0.96);
}

.brand{
    text-transform: uppercase;
    font-weight: 600;
}

.navbar-nav{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

.nav-item{
    justify-content: center;
    align-items: center;
    margin:0.3rem;
}
.icon{
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
}