
<mat-toolbar>
    <div class="brand">
        
        <span>jonny's g<mat-icon class="icon">gamepad</mat-icon>meshop</span>
    </div>

    <div class="navbar-nav">
        <div>
            <button mat-icon-button class="nav-item" aria-label="About Us">
                <mat-icon>info</mat-icon>
            </button>
            

        </div>
        <div>
            <button mat-icon-button class="nav-item" aria-label="About Us">
                <mat-icon>login</mat-icon>
            </button>
            
        </div>
        
    </div>
    

</mat-toolbar>

  