

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0.5rem ;
}

.form-item{
    padding: 0.5rem;
}

.mat-card{
    width: 37rem;
    min-height: 20rem;
    margin: 1rem;
}
.form-row{
    display: grid;
    grid-template-columns:1fr 1fr;
    justify-content: space-between;
}
.form-column{
    display: flex;
    flex-direction: column;

}
.form{
    display: flex;
    flex-direction: column;

}

.checkbox-container{
    display: flex;
    flex-direction: column;

}
.checkbox-container > ul{
    list-style-type: none;
}

.mat-checkbox:checked{
    border: 1x solid red
}

.card-footer{
    display: flex;
    justify-content: center;
    width: 100%;
    
}
register-button{
    display: flex;
    width: 3rem;
    border: 1px solid red;
    
}

a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}