/* You can add global styles to this file, and also import other style files */


:root{
    font-size: 16px;

    --text-primary:#b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #c0c0c0;
    --bg-secondary: #5c5c5c;
    --logo-size:1.5rem;
}

* {
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}
body::-webkit-scrollbar-track {
    background:#dddddd;
}
body::-webkit-scrollbar-thumb {
    background: rgb(110, 12, 156);
    background: linear-gradient(350deg, rgb(118, 10, 145) 0%, rgb(177, 36, 212) 90%, rgb(183, 0, 255) 100%);
}


html, body { height:100%;width: 100%; overflow-x: hidden;}
body {padding: 0; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;display: flex;flex-direction: column;}


